.notFound-wrapper {
    color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('./../../Assets/Images/tinder_background_img.jpg');
    background-size: cover;
    background-position: center;
}

.notFound-inner-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    gap: 2%;
}

.notFound-title {
    font-size: 1500%;
    font-weight: 600;
    color: #dae2e7;
}

.notFound-sub-title {
    font-size: 200%;
    font-weight: 600;
    color: #f0f2f4;
}

.notFound-description {
    color: darkgrey;
    font-size: 150%;
    font-weight: 600;
}

/* Handle Responsive */

@media (max-width: 760px) {
    .notFound-title {
        font-size: 1000%;
    }
}
