.editProfile-wrapper {
    width: 375px;
    height: 632px;
    margin: auto;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 2px 5px 8px 2px;
}

/* First Div - view wrapper */
.editProfile-view-wrapper {
    height: 50px;
    background: #111418;
}

.MuiTabs-flexContainer.css-heg063-MuiTabs-flexContainer {
    display: flex;
    justify-content: space-evenly;
}

/* Second Div - card wrapper */
.editProfile-card-wrapper {
    background: black;
}

.editProfile-card-wrapper-edit {
    height: 508.77px;
}

.editProfile-edit-wrapper {
    height: 100%;
    overflow-y: auto;
}

/* Third Div - save wrapper */
.editProfile-save-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 74px;
}

.editProfile-save-button {
    height: 80%;
    background: linear-gradient(45deg, #eb3131, #d43e73 );
    border: none;
    border-radius: 50px;
    box-shadow: 0 5px 15px #0003;
    color: #fff;
    cursor: pointer;
    font-size: 120%;
    padding: 15px 25px;
    text-decoration: none;
    transition: all .3s ease;
    font-weight: 600;    
}