.editProfile-wrapper {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 92%;
    margin: auto;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 2px 5px 8px 2px;
    overflow-y: auto;
}

/* First Div - view wrapper */
.editProfile-view-wrapper {
    padding-block: 1%;
}

.MuiTabs-flexContainer.css-heg063-MuiTabs-flexContainer {
    display: flex;
    justify-content: space-evenly;
}

/* Second Div - card wrapper */
.editProfile-card-wrapper {
    flex: 1;
}

.editProfile-card-wrapper-edit {
    flex: 8;
}

.editProfile-edit-wrapper {
    height: 100%;
    overflow-y: auto;
    padding-inline: 1%;
}

.editProfile-preview-wrapper {
    height: 100%;
}

/* Third Div - save wrapper */
.editProfile-save-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 2%;
}

.editProfile-save-button {
    background: var(--default-button-bg);
    border: none;
    border-radius: 50px;
    box-shadow: 0 5px 15px #0003;
    color: #fff;
    cursor: pointer;
    font-size: 120%;
    padding: 15px 35px;
    text-decoration: none;
    transition: all .3s ease;
    font-weight: 600;    
}

/* Handle Responsive */


@media (max-width: 1150px) {
    .editProfile-wrapper {
        width: 55%;
    }

    .setprofile-upload-image-box  {
        width: 100% !important;
    }
}

@media (max-width: 1000px) {
    .editProfile-wrapper {
        width: 70%;
    }
}

@media (max-width: 760px) {
    .editProfile-wrapper {
        width: 90%;
        height: fit-content;
        overflow-y: unset;
        box-shadow: unset;
    }

    .editProfile-save-button {
        box-shadow: 0 0px 15px #0003
    }
}
