.setprofile-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('../../Assets//Images/tinder_background_img.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}

.setprofile-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
    z-index: 1;
}

.setprofile-inner-wrapper {
    z-index: 1;
    margin: auto;
}

.setprofile-content-wrapper {
    display: flex;
    flex-direction: row;
    height: fit-content;
    gap: 2%;
}