.cardProfile-wrapper {
    flex: 9;
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 95%;
    box-shadow: rgba(99, 99, 99, 0.2) 2px 5px 8px 2px;
}

/* Card Profile - main */
.cardProfile-card {
    position: relative;
    flex: 8.5;
}

.cardProfile-card-ifEdit {
    height: 100%;
}

.cardProfile-wrapper-ifEdit {
    width: 100%;
    height: 100%;
}

.cardProfile-user-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px 10px 0 0;
    background-size: cover; /* Ensures the image covers the entire area */
    background-position: center center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repeating */
    background-attachment: scroll; /* Background scrolls with the content */
}

.cardProfile-user-images-nav-wrapper {
    width: 100%;
    height: fit-content;
}

.cardProfile-user-details-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 30%;
    gap: 5%;
    color: white;
}

.cardProfile-details-inner {
    display: flex;
    flex-direction: row;
    direction: rtl;
    justify-content: space-between;
    padding: 2%;
}

.cardProfile-ageFirst-wrapper {
    direction: ltr;
    font-size: 180%;
    font-weight: 600;
}

.cardProfile-details-location {
    flex: 3;
    display: flex;
    flex-direction: row;
    width: 40%;
}

.cardProfile-details-bio {
    flex: 7;
    width: 60%;
    direction: ltr;
    overflow-y: auto;
    z-index: 0;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
}

.cardProfile-error-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    color: var(--secondary-color);
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 110%;
}

.cardProfile-img-navigator-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}

.cardProfile-img-navigator-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
}

/* Card Profile - bottom nav */
.cardProfile-nav-card {
    display: flex;
    flex: 1.5;
    justify-content: space-evenly;
    align-items: center;
    direction: rtl;
}

.tinder-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 1px solid transparent;
    background-color: black;
    cursor: pointer;
}

.heart-button {
    border-color: var(--like-color);
}

.dislike-button {
    border-color: var(--dislike-color);
}

.icon {
    font-size: 50px;
}

.heart-button .icon {
    color: var(--like-color);
}

.dislike-button .icon {
    color: var(--dislike-color);
}

/* Handle Responsive */

@media (max-width: 1200px) {
    .cardProfile-wrapper {
        width: 45%;
    }

    .cardProfile-wrapper-ifEdit {
        width: 100% !important;
    }
}

@media (max-width: 1000px) {
    .cardProfile-wrapper {
        width: 60%;
    }
}

@media (max-width: 760px) {
    .cardProfile-wrapper {
        width: 100%;
        height: 75vh;
        box-shadow: none;
    }

    .cardProfile-card {
        padding-inline: 1%;
    }
}