.matches-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns, each taking up equal space */
    gap: 1rem; /* Adds space between items */
    width: 100%;
    direction: rtl;
}

.matches-circular {
    position: absolute;
    top: 30%;
    left: 50%; 
    transform: translate(-50%, -50%); /* Offset by half of the element's width and height */
}

.matches-box-wrapper {
    display: flex;
    width: 100%; /* Full width within each grid cell */
    height: 150px; /* Set a fixed height or use percentage relative to container */
    justify-content: start;
    align-items: end;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.matches-box-wrapper:hover {
    transition: 0.5s ease;
    transform: scale(1.1);
}

.matches-error-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: -webkit-fill-available;
    height: 120px;
    color: var(--secondary-color);
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 110%;
}

/* Phone CSS */

.matches-phone-wrapper {
    display: flex;
    direction: ltr;
    width: 95vw;
    padding: 2%;
}

.matches-inner-phone-wrapper {
    display: flex;
    flex-direction: column;
    width: 95vw;
}

.matches-title-phone-wrapper {
    font-size: 110%;
    font-weight: 600;
    padding-block: 5%;
}

.matches-swiping-match-phone-wrapper {
    display: -webkit-box;
    overflow-x: auto;
    gap: 2%;
}

.matches-swiping-match-phone {
    width: 90px;
    height: 120px;
}

.matches-box-phone-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: end;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.matches-error-phone-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 110%;
}

/* Handle Responsive */

@media (max-width: 1100px) {
    .matches-wrapper {
        grid-template-columns: repeat(2, 1fr); 
    }
}