.phoneMatches-wrapper {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #111418;
}

.phoneMatches-content-wrapper {
    padding-inline: 2%;
}