.myProfile-wrapper {
    direction: rtl;
}

.myProfile-discovery-title {
    display: block;
    color: #b9bfc8;
    padding: 3%;
}

.myProfile-divs-wrapper {
    background: #111418;
    padding: 4% 3%
}

.myProfile-organize-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.myProfile-underline-separator {
    height: 1px;
    background-color: grey;
}