.myProfile-wrapper {
    direction: rtl;
}

.myProfile-discovery-title {
    display: block;
    color: #4b4f55;
    padding: 3%;
    font-weight: 600;
}

.myProfile-divs-wrapper {
    padding: 4% 3%
}

.myProfile-organize-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.myProfile-underline-separator {
    height: 1px;
    background-color: grey;
}

.myProfile-arrow-wrapper {
    display: flex;
    align-items: center;
    direction: ltr;
}

.myProfile-arrow-icon {
    color: #7c8591;
    cursor: pointer;
}
.myProfile-arrow-icon:hover {
    color: var(--primary-color);
}

div#interest-select {
    width: 7vw; /* try to understand why percentage doesnt work */
    padding: unset;
    padding-block: 3%;
}

/* Handle Responsive */


@media (max-width: 760px) {
    .myProfile-wrapper {
        padding-top: 5%;
    }
}
