html {
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-size: 15px;
}

body {
  height: 100%;
  /* font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  font-variation-settings: "wdth" 100; */
}

#root {
  height: 100%;
}

.outer-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper {
  height: 100%;
  background-color: #f7f7f7;
  overflow-x: hidden;

}

.com-with-nav-wrapper {
  display: flex;
  flex-direction: column;
}

.com-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.com-with-footer {
  width: 100%;
  height: fit-content;
  background-color: black;
}

.com-with-nav-item {
  height: 100%;
}