html {
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-size: 15px;
}

body {
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
}

.wrapper {
  height: 100%;
  background-color: #f7f7f7;
  overflow-x: hidden;
}

.com-with-nav-wrapper {
  display: flex;
  flex-direction: column;
}

.com-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('./Assets/Images/tinder_background_img.jpg');
  background-size: cover;
  background-position: center;
  color: white;
}

.com-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Adjust opacity as needed */
  z-index: 1;
}

.com-with-footer {
  width: 100%;
  height: fit-content;
  background-color: black;
}

.com-with-nav-item {
  height: 100%;
}

/* Scroller styling */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6d798a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Handle Responsive */

@media (max-width: 760px) {
  div {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
  }

  div::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
}