.home-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

/* Main */
.home-main-wrapper {
    display: flex;
    width: 75%;
    height: 100%;
    background: black;
}

/* Right Side */
.home-side-wrapper {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
}

/* Right Side - TopNav */
.home-side-nav-wrapper {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 10%;
    background: linear-gradient(45deg, #eb3131, #d43e73 );
    border: none;
    box-shadow: 0 5px 15px #0003;
    color: #fff;
    text-decoration: none;
    transition: all .3s ease;
    font-weight: 600;
    z-index: 1;
    padding-inline: 1% 2%;
}

.home-side-nav-inner {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: fit-content;
    gap: 5%;
    padding: 2%;
    border-radius: 30px;
    cursor: pointer;
}
.home-side-nav-inner:hover {
    background-color: #191300;
}

.home-side-nav-img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

/* Right Side - Main (content) */
.home-side-content-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 90%;
    background: #111418;
}

.home-side-content-title-wrapper {
    display: flex;
    flex-direction: column;
    color: white;
}

.home-side-content-title-inner {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.home-side-content-details {
    width: 95%;
    height: 100%;
    padding-top: 5%;
    margin: auto;
    overflow-y: auto; /* when there're too match matches */
    overflow-x: hidden; /* when hovering transition pops out overflow-x*/
}